# 1. Read data

## Importing required library

In [75]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (1.3.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.21.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: six>=1.5 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

## Importing required module from the downloaded library

In [76]:
import pandas as pd

## Reading csv flie from online github repository

In [77]:
data = pd.read_csv('https://gist.githubusercontent.com/rnirmal/e01acfdaf54a6f9b24e91ba4cae63518/raw/6b589a5c5a851711e20c5eb28f9d54742d1fe2dc/datasets.csv')
data

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN
...,...,...,...,...,...,...
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

## adding prefix to all column names

In [78]:
data.add_prefix('x_')

,x_datasetName,x_about,x_link,x_categoryName,x_cloud,x_vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN
...,...,...,...,...,...,...
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

## Adding suffix to all column names

In [79]:
data.add_suffix('_Y')

,datasetName_Y,about_Y,link_Y,categoryName_Y,cloud_Y,vintage_Y
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN
...,...,...,...,...,...,...
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

## Filter data

In [80]:
data[['datasetName']] # Filtering with 1 Column by providing name of the column

           datasetName
0   Microbiome Project
1                GloBI
2       Global Climate
3      CommonCraw 2012
4    Indiana Webclicks
..                 ...
56      ClueWeb12 FACC
57       Google Ngrams
58          EDRM Enron
59             GetGlue
60      Twitter RepLab

[61 rows x 1 columns]

In [81]:
data[['datasetName','about']] # Filtering with 2 Columns by providing name of the columns

           datasetName                                            about
0   Microbiome Project                American Gut (Microbiome Project)
1                GloBI               Global Biotic Interactions (GloBI)
2       Global Climate                   Global Climate Data Since 1929
3      CommonCraw 2012              3.5B Web Pages from CommonCraw 2012
4    Indiana Webclicks  53.5B Web clicks of 100K users in Indiana Univ.
..                 ...                                              ...
56      ClueWeb12 FACC                                   ClueWeb12 FACC
57       Google Ngrams                      Google Books Ngrams (2.2TB)
58          EDRM Enron      EDRM Enron EMail of 151 users, hosted on S3
59             GetGlue                  GetGlue - users rating TV shows
60      Twitter RepLab    Twitter Data for Online Reputation Management

[61 rows x 2 columns]

### `[Data + column row]` or  `[Data + row column]`

In [82]:
data[['datasetName','about']][0:6] # Filtering with 2 Columns by providing name of the columns, and 6 rows only

            datasetName                                            about
0    Microbiome Project                American Gut (Microbiome Project)
1                 GloBI               Global Biotic Interactions (GloBI)
2        Global Climate                   Global Climate Data Since 1929
3       CommonCraw 2012              3.5B Web Pages from CommonCraw 2012
4     Indiana Webclicks  53.5B Web clicks of 100K users in Indiana Univ.
5  Criteo click-through                        Criteo click-through data

In [83]:
data[0:6][['datasetName','about']] # Filtering with 2 Columns by providing name of the columns, and 6 rows only

            datasetName                                            about
0    Microbiome Project                American Gut (Microbiome Project)
1                 GloBI               Global Biotic Interactions (GloBI)
2        Global Climate                   Global Climate Data Since 1929
3       CommonCraw 2012              3.5B Web Pages from CommonCraw 2012
4     Indiana Webclicks  53.5B Web clicks of 100K users in Indiana Univ.
5  Criteo click-through                        Criteo click-through data

## Filter data based on `LOC` and `iLOC`

## `LOC`

In [84]:
# data.loc[rows,columns]
# rows= need to be `indexed`
# columns = needs to be in `string`

data.loc[0:3,'about':'cloud']

,about,link,categoryName,cloud
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN
3,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN

## `iLOC`

In [85]:
# data.iloc[rows,columns]
# rows= needs to be `indexed`
# columns = needs to be `indexed`

data.iloc[0:3,1:3]

,about,link
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate

## Filter based on category

In [105]:
data.loc[data['categoryName']=='Natural Language']

,datasetName,about,link,categoryName,cloud,vintage
21,Google 5gram,"Google Web 5gram (1TB, 2006)",https://catalog.ldc.upenn.edu/LDC2006T13,Natural Language,NaN,2006.0
22,"Arabic, 30K articles",SaudiNewsNet Collection of Saudi Newspaper Art...,https://github.com/ParallelMazen/SaudiNewsNet,Natural Language,GitHub,NaN
23,USENET postings,USENET postings corpus of 2005~2011,http://www.psych.ualberta.ca/~westburylab/down...,Natural Language,NaN,2005.0
55,ClueWeb09 FACC,ClueWeb09 FACC,http://lemurproject.org/clueweb09/FACC1/,Natural Language,NaN,2009.0
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN

## Sort data

In [124]:
data_sorted = data.sort_values(['categoryName','cloud'])

In [125]:
data_sorted

,datasetName,about,link,categoryName,cloud,vintage
47,USDA PLANTS,U.S. Department of Agriculture's PLANTS Database,http://www.plants.usda.gov/dl_all.html,Agriculture,NaN,NaN
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
46,Data Packaged,Data Packaged Core Datasets,https://github.com/datasets/,Complementary Collections,GitHub,NaN
...,...,...,...,...,...,...
39,NYC Taxi,NYC Taxi Trip Data 2009-,http://www.nyc.gov/html/tlc/html/about/trip_re...,Transportation,NaN,2009.0
40,FOIA/FOILed,NYC Taxi Trip Data 2013 (FOIA/FOILed),https://archive.org/details/nycTaxiTripData2013,Transportation,NaN,2013.0
43,Plane Crash,"Plane Crash Database, since 1920",http://www.planecrashinfo.com/database.htm,Transportation,NaN,1920.0
44,U.S. Domestic,U.S. Domestic Flights 1990 to 2009,http://academictorrents.com/details/a2ccf94bbb...,Transportation,NaN,2009.0
45,U.S. Freight,U.S. Freight Analysis Framework since 2007,http://ops.fhwa.dot.gov/freight/freight_analys...,Transportation,NaN,2007.0

## insert a new column

In [126]:
data_sorted['newCol1'] = ""

In [127]:
data_sorted

,datasetName,about,link,categoryName,cloud,vintage,newCol1
47,USDA PLANTS,U.S. Department of Agriculture's PLANTS Database,http://www.plants.usda.gov/dl_all.html,Agriculture,NaN,NaN,
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN,
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN,
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0,
46,Data Packaged,Data Packaged Core Datasets,https://github.com/datasets/,Complementary Collections,GitHub,NaN,
...,...,...,...,...,...,...,...
39,NYC Taxi,NYC Taxi Trip Data 2009-,http://www.nyc.gov/html/tlc/html/about/trip_re...,Transportation,NaN,2009.0,
40,FOIA/FOILed,NYC Taxi Trip Data 2013 (FOIA/FOILed),https://archive.org/details/nycTaxiTripData2013,Transportation,NaN,2013.0,
43,Plane Crash,"Plane Crash Database, since 1920",http://www.planecrashinfo.com/database.htm,Transportation,NaN,1920.0,
44,U.S. Domestic,U.S. Domestic Flights 1990 to 2009,http://academictorrents.com/details/a2ccf94bbb...,Transportation,NaN,2009.0,
45,U.S. Freight,U.S. Freight Analysis Framework since 2007,http://ops.fhwa.dot.gov/freight/freight_analys...,Transportation,NaN,2007.0,

In [ ]:
data_sorted['newCol1'] = data_sorted.merge()